configuration {
    modi: "run,window,drun,combi";
    combi-modi: "window,drun";
    display-combi: "🗔 ";
    font: "JetBrains Mono NL 12";
    // font: "Cascadia Code PL 12";
    show-icons: true;
    monitor: "-4";
    location: 0;
    // yoffset: 100;
    terminal: "alacritty";
}
@theme "current"
